.part1{
    display: flex;
    justify-content: space-between;
}
.part1-1{
    font-family:"hakuyoxingshu7000","Microsoft YaHei";
    padding: 5em 1em 4em 2em;
    font-size: 3em;
    font-weight: bold;
    line-height: 2em;
    letter-spacing: 2px;
    text-shadow: 5px 5px 5px orange;
}
.part1-2{
    font-family:"STXingkai","Microsoft YaHei";
    font-size: 1.5em;
    padding: 210px 50px;
    letter-spacing: 2px;
    line-height: 2em;
    text-shadow: 1px 1px 1px orange;
}
.className{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family:"STXingkai","Microsoft YaHei";
    text-shadow: none;
    font-weight: normal;
    letter-spacing: 4px;
    -webkit-animation: twinkling 1s infinite ease-in-out;
}
.className:hover{
    cursor: pointer;
    -webkit-animation: none;
}
.animated{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes twinkling{
    0%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
@keyframes twinkling{
    0%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
.className>img{
    display: block;

}
p{
    text-align: center;
}
.part2{
    padding: 9em 9em 0 9em;
}
.part2-1{
    color: black;
    width: 100%;
}
.part2-1 table {
    width: 100%;
}
.part2-1-middle{
    text-align: center;
    border-left: 1px solid #ffffff75;
    border-right: 1px solid #ffffff75;
}
.part2-1-all{
    background-color: #ffffff4a;
    display: inline-block;
    line-height: 3em;
    padding: 2em 0;
    color: white;
    vertical-align: top;
    transition: all 0.7s;
    height: 400px;
}
.part2-1-all:hover{
    border: none;
    box-shadow: 0 0 10px white;
    background-color: white;
    color: black;
    transform: scale(1.1);
    -ms-transform:scale(1.1);     /* IE 9 */
    -moz-transform:scale(1.1);     /* Firefox */
    -webkit-transform:scale(1.1); /* Safari 和 Chrome */
    -o-transform:scale(1.1);
}
.part2-1-all>a{
    color: orange;
    text-decoration: none;
}
.part2-1-all-table td{
   vertical-align: top;
}

.rotate{
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: block;
    vertical-align: top;
}
.music {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite
}
.music1 {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#musicName{
    display: none;
}
.rotate:hover #musicName{
    display: inline-block;
    vertical-align: middle;
    padding: 0.8em 2em 0.8em 0;
    background-color: white;
    color: black;
    border-radius: 5px;
}
@-webkit-keyframes rotating {
    from { -webkit-transform: rotate(0) }
    to { -webkit-transform: rotate(360deg) }
}

@keyframes rotating {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
}
@-moz-keyframes rotating {
    from { -moz-transform: rotate(0) }
    to { -moz-transform: rotate(360deg) }
}